@font-face {
	font-family: roboto;
	url(http://fonts.googleapis.com/css?family=Roboto);
}

body {
	background-color: rgb(75, 46, 131);
	color: rgb(236, 240, 241);
	font-family: roboto;
}

h1 {
	font-size: 50pt;
	font-weight: bold;
   text-align: center;
}

h2 {
	font-size: 40pt;
   text-align: center;
   padding-left: 50px;
}

p {
	text-align: center;
	font-size: 30pt;
}